<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class='container'>
        <div class="navbar-header">
            <a href="#" id='title' class="navbar-brand">Events</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class='collapse navbar-collapse' id='myNav'>
            <ul class='nav navbar-nav navbar-right'>
                <li><a href="/users/<%= @user.id %>/edit">Edit Profile</a></li>
                <li><a href="/sessions/destroy">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id='home_page'class='container'>
    <h1>Welcome <%= @user.first_name %></h1>

    <h4> Here are some of events in your state </h4>

    <table class='table table-striped table-bordered'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Host</th>
                <th>Action/Status</th>
            </tr>
        </thead>
        <tbody>
    <% @events.each do |e| %>
            <tr>
                <td><a href="/events/<%= e.id %>"><%= e.name %></a></td>
                <td><%= e.date %></td>
                <td><%= e.location %></td>
                <td><%= e.user.first_name %></td>
                <td><% if e.user_id == current_user.id %>
                    <form action='/events/<%= e.id %>' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='event_id' value='<%= e.id %>'>
                        <input type='hidden' name='_method' value='delete'>
                        <input type='submit' value='Delete Event'>
                    </form>

                    <% elsif e.events_joined.include? current_user %>
                    <form action='/joins/destroy' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='event_id' value='<%= e.id %>'>
                        <input type='hidden' name="user_id" value="<%= current_user.id %>">
                        <input type='hidden' name='_method' value='delete'>
                        <input type='submit' value='Cancel'>
                    </form>
                    <% else %>

                    <form action='/joins' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='event_id' value='<%= e.id %>'>
                        <input type='hidden' name="user_id" value="<%= current_user.id %>">
                        <input type='submit' value='Join'>
                    </form>
        <% end %>
            </td>
            </tr>
    <% end %>
        </tbody>
    </table>

    <h4> Here are some of events other states </h4>

    <table class='table table-striped table-bordered'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>State</th>
                <th>Host</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @other.each do |o| %>
            <tr>
                <td><a href="/events/<%= o.id %>"><%= o.name %></a></td>
                <td><%= o.date %></td>
                <td><%= o.location %></td>
                <td><%= o.state %></td>
                <td><%= o.user.first_name %></td>
                <td><% if o.events_joined.include? current_user %>
                    <form action='/joins/destroy' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='event_id' value='<%= o.id %>'>
                        <input type='hidden' name="user_id" value="<%= current_user.id %>">
                        <input type='hidden' name='_method' value='delete'>
                        <input type='submit' value='Cancel'>
                    </form>
                    <% else %>

                    <form action='/joins' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='event_id' value='<%= o.id %>'>
                        <input type='hidden' name="user_id" value="<%= current_user.id %>">
                        <input type='submit' value='Join'>
                    </form>
        <% end %>
            </tr>
    <% end %>
        </tbody>
    </table>

    <h2>Add Event</h2>

        <form action='/events' method ='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <label for='name'>Name</label><br>
                <input id='name' name='name' type='text'><br>
            <label for='date'>Date</label><br>
                <input id='date' name='date' type='date'><br>
            <label for='location'>Location</label><br>
                <input id='location' name='location' type='text'><br>
            <label for="state">State</label><br>
                <select name='state' id='state'>
                    <option value='CA'>CA<option>
                    <option value='WA'>WA<option>
                    <option value='NY'>NY<option>
                    <option value='NV'>NV<option>
                </select><br>
            <input type='submit' value='Add Event'>
        </form>
</div>