<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <meta name="viewport" content ="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
